<div class="footer">
	<p class="link">
	<!--<a href="#">Registrazione</a> |-->
	<a href="#">Chi siamo</a> |
	<a href="#">Come funziona</a> |
	<a href="#">Condizioni di vendita</a> |
	<a href="#">Privacy</a> |
	<a href="#">Contatti</a> |
	<a href="#">Fornitori</a> |
	<a href="#">Magazine</a>
	</p>
	<p>Yayo S.p.A sede Legale in Via Buonarroti, 8 20145 Milano - Capitale sociale &euro;306.600 i.v., Codice Fiscale/P.I. n. 05249460964, REA Milano n. 1807720</p>
</div>
