<fieldset>
	<legend><%=t(:registration_accept)%></legend>

	<p>
	<textarea cols="20" rows="5" readonly="" style="width:100%"><%=t(:registration_terms)%></textarea></p>
	<p><label><%=t(:registration_approve)%></label>
       <input type="checkbox" name="user[accept_terms_and_privacy]" value="1">

	</fieldset>