<p class="">
                <a href="#" title="vai alla nostra pagina su"><%=image_tag "store/facebook.png", :width=>"16",:height=>"16",:alt=>"send"%></a>
                <a href="#" title="vai alla nostra pagina su"><%=image_tag "store/twitter.png", :width=>"16",:height=>"16",:alt=>"send"%></a>
                <a href="#" title="segnala questo prodotto ad un amico"><%=image_tag  "store/send.png", :width=>"16",:height=>"16",:alt=>"send"%></a>
    </p>
