


  <h1 class="lbl"><%=image_tag "store/arrow1.png", :width=>"11",:height=>"12" ,:alt=>"arrow" ,:class=>"arrow yellow"%><span id="page_name" class="mercury-region" data-type="editable"><%=@page.name%></span></h1>
  <p id="page_content" class="mercury-region emphasis" data-type="editable"><%=raw @page.content%>



