.inda1 ul li a, .inda1 ul li a:visited{
		position:relative;
}

.inda1 ul li a img {
position:absolute;
		right:5px;
		top:4px;
}

.vetrina .dettagli{
		position:absolute;
		z-index:-1;
		right:15px;
		top:15px;
		width:243px;
}

.menu p.shopper {
		width:280px;
}

 .carrello form a.var {
	padding:4px 20px;
}